# Kredensial & Framework Backend/Frontend
.env
node_modules/
.cache/

# Cache Python Python
__pycache__/
*.pyc

# Khusus Modul ETL & Data Generator 
etl-generator/env_fix/
etl-generator/raw_data/
*.csv
**/raw_data/